@using Pustok2.ViewModel.ProductVM;
@model IEnumerable<ProductListVM>;
@{
    ViewData["Title"] = "Index";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Product Details</h6>
        <a asp-action="Create" class="btn btn-outline-success">Create</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <th>Name</th>
                <th>Description</th>
                <th>SellPrice</th>
                <th>CostPrice</th>
                <th>Discount</th>
                <th>Quantity</th>
                <th>ProductCode</th>
                <th>About</th>
                <th>MainImage</th>
                <th>HoverImage</th>
                <th>Category</th>
                <th>Colors</th>
                <th colspan="2" style="text-align:center">Action</th>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr class='@(item.IsDeleted ? "bg-danger text-red" : "")'>
                                <td>@item.Name</td>
                                <td>@item.Description</td> 
                                <td>@item.SellPrice</td>
                                <td>@item.CostPrice</td>
                                <td>@item.Discount</td>
                                <td>@item.Quantity</td>
                                <td>@item.ProductCode</td>
                                <td>@item.About</td>
                                    @if (item != null)
                                    {
                                        <td style="height:40px">
                                             @if (!string.IsNullOrEmpty(item.ImageUrl))
                                            {
                                                <img style="width:105px;height:100px" src="~/@item.ImageUrl" />
                                            }
                                        </td>
                                        <td>
                                        <img style="width:105px;height:100px" src="~/@item.UrlImage2" />
                                        </td>
                                     }
                                   
                                <td>@item.Category?.Name</td>
                                @if (item.Colors == null || item.Colors.Count() == 0)
                                {
                                    <td>No color</td>
                                }
                                else
                                {
                                    <td>@string.Join(",", item.Colors.Select(x => x.Name))</td>
                                }
                                <td class="text-center"><a class="btn btn-outline-info" asp-action="Update" asp-route-id="@item.Id">Update</a></td>
                                <td class="text-center"><a class="btn btn-outline-danger" asp-action="DeleteProduct" asp-route-id="@item.Id">Delete</a></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="10">No data</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

